# ============================
# 🔐 Environment / Secrets
# ============================
.env
.env.*
*.env

# ============================
# 🐍 Python
# ============================
__pycache__/
*.py[cod]

# ============================
# 📦 Virtual Environments
# ============================

myvenv/


# ============================
# 🧠 ML Model Weights
# ============================
*.pth

# ============================
# 🖼️ Temporary User Files
# ============================
static/uploads/
static/results/

# ============================
# 🧪 Jupyter
# ============================
.ipynb_checkpoints/

# ============================
# 💻 OS / IDE
# ============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ============================
# 📦 Logs
# ============================
*.log
